body {
  background-color: papayawhip;
}

.NEWdiv, .LISTdiv {
  margin: 5px;
  padding: 6px;
  border: 1px solid navy;
}
.EDITdiv {
  margin: 5px;
  padding: 6px;
}

h1, h2 {
  font-family: "Kongtext", "Ubuntu";
  color: navy;
}

h2, input  {
  color: black;
}

.calNumber {
  color: red;
}

@font-face {
  font-family: 'KongText';
  src: url('kongtext.ttf')  format('truetype'), /* Safari, Android, iOS */
}
