body {
  background-color: peachpuff;
}

.NEWdiv, .LISTdiv {
  margin: 5px;
  padding: 6px;
  border: 1px solid navy;
}
.EDITdiv {
  margin: 5px;
  padding: 6px;
}

h1, h2, h3, h4, h5, label, input {
  font-family: "Ubuntu";
  color: navy;
}

h2, input  {
  color: black;
}

.calNumber {
  color: red;
}
