body {
  background-color: orange;
}

.NEWdiv {
  margin: 5px;
  border: 1px solid blue;
}
.LISTdiv {
  margin: 5px;
  border: 1px solid blue;
}
.EDITdiv {
  margin: 5px;
  border: 1px solid blue;
}

h1, h2, h3, h4, h5 {
  font-family: monospace;;
  color: blue;
}

h2 {
  color: black;
}

.calNumber {
  color: red;
}
